<div class='largebox'>
  <img src='/pics/bwcat.png' width="500" height="320" alt="b/w cat">
</div>
<div class='largebox'>
  <img src="/pics/wolfcubs.jpg" width="500" height="350" alt="wolf cubs">
</div>
<div class='largebox'>
  <img src="/pics/sleepy.gif" width="499" height="281" alt="sleepy cats">
</div>
<div class='largebox'>
  <img src="/pics/otter.jpg" width="500" height="630" alt="otter">
</div>
<div class='largebox'>
  <img src="/pics/duck.jpg" width="500" height="538" alt="baby duck">
</div>
<div class='largebox'>
  <img src="/pics/bats.jpg" width="500" height="368" alt="bats">
</div>