<div class='box'> 
  <h2>happy hour locations</h2>
  <h3>add your desired watering hole to the voting list!</h3>

    <form method='POST' action='/'>
      <input type="text" name="location" size="20">
      <input type="submit" value="add!">
    </form>

  <hr>
  <h3> (bars and votes listed below)</h3>
  <% unless @happyhour.nil? %>
    <% @happyhour.each do |happyhour| %>
      <%= happyhour[:location] %> has 
      <%= happyhour[:votes] %> votes
      <form method='POST' action=<%= "/voted?id=#{happyhour[:id]}" %>>
        <input type="submit" value="+1">
      </form>
      <br>
    <% end %>
  <% end %>
</div>

<div class='box'> 
  <img src="pics/jagercat.png" width="460" height="260" alt="cat with jager">
</div>