<!DOCTYPE html>
<html>
<head>
	<title> liz rush </title>
	<link href="/css/main.css" media="all" rel="stylesheet">
</head>

<body>
	<div id='header'>
		Hello, the time is currently <%= Time.now %>
	</div>

<br><br>

Click <a href="/cute_pictures_of_animals">here</a> to see cute pics of animals.
</body>

</html>