body {
  cursor: url(../pics/martini2.png), auto;
  background-image: url(../pics/nebula.jpg);
  background-repeat:repeat;
  color: #000;
  font-family: "Comic Sans MS", auto;
}

.header-cont {
    width: 100%;
    background-color: #c60034;
    position: fixed;
    height: 125px;
    top: 0px;
    left: 0px;
  }

#header {
  display: block;
  border-bottom: 10px solid black;
}

#adalogo {
  margin: 5px;
  display: inline-block;
}

#twitterbutton {
  margin-top: 80px;
  display: inline-block;
  position: fixed;
  right: 67px;
}

.site-menu a { 
  color: #59d1eb;
  background-color: #000;
  padding: 5px 5px;
  border: 5px solid black;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container {
  width: 975px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 10px solid black;
  margin: 150px auto;
  padding: 10px;
  background-color: #c60034;
}

.box {
  width: 480px;
  display: inline-block;
  vertical-align: middle;
}

.box img {
  border: 10px solid black;
  -moz-border-radius: 15px;
  border-radius: 15px;
  opacity: 1;
}

.largebox {
  margin: 20px auto;
  width: 520px;
  display: block;
}

.largebox img {
  border: 10px solid black;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

form {
  display: inline-block;
}

h1 {
  color: #000;
  display: inline-block;
  margin: 0px;
  vertical-align: 38px;
}

h2 {
  color: #000;
}

h3 {
  color: #000;
  font-size: 1.05em;
}

ul {
  position: fixed;
  top: 0px;
  right: 100px;
  padding:0;
  margin:0;
  list-style-type:none;
}

.site-menu ul.bloglist li {
  display: hidden;
  position: absolute;
}

.site-menu ul.bloglist:hover li{
  display: block;
  position: relative;
  color: #59d1eb;
  background-color: #000;
  border: 5px solid black;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

li {
  display: inline;
}
