body {
  cursor: url(../pics/martini2.png), auto;
  background-image: url(../pics/nebula.jpg);
  background-repeat:repeat;
  color: #000;
  font-family: "Comic Sans MS", auto;
}

.header-cont {
  width: 100%;
  background-color: rgba(198,0,52,0.7);
  position: fixed;
  height: 125px;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#header {
  display: block;
  border-bottom: 10px solid black;
}

#adalogo {
  margin: 5px;
  display: inline-block;
}

#twitterbutton {
  margin-top: 80px;
  display: inline-block;
  position: fixed;
  right: 67px;
}

.site-menu {
  display: inline;
  position: fixed;
  top: 0px;
  right: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-menu li { 
  background-color: #000;
  border: 5px solid black;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
}

.site-menu a { 
  color: #59d1eb;
}

.container {
  width: 975px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 10px solid black;
  margin: 150px auto;
  padding: 10px;
  background-color: rgba(198,0,52,0.7);
}

.box {
  width: 480px;
  display: inline-block;
  vertical-align: middle;
}

.box img {
  border: 10px solid black;
  -moz-border-radius: 15px;
  border-radius: 15px;
  opacity: 1;
}

.largebox {
  margin: 20px auto;
  width: 520px;
  display: block;
}

.largebox img {
  border: 10px solid black;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

form {
  display: inline-block;
}

h1 {
  color: #000;
  display: inline-block;
  margin: 0px;
  vertical-align: 38px;
}

h2 {
  color: #000;
}

h3 {
  color: #000;
  font-size: 1.05em;
}

h4 a {
  color: #000;
}

h4 a:hover {
  color: #59d1eb;
}

.navigation {
  display: inline-block;
  margin: 0px;
}

.navigation li:hover ul{
  display: block;
}

.bloglist {
  width: 175px;
  position: absolute;
  display: none;
  background-color: #000;
  border: 5px solid black;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 246px;
  padding-left: 0px;
  /*i believe i sort-of understand z-index but would appreciate feedback if i am using this wrong. i kept having troubles with my dropdown that shows upon hovering the blog link but then when the person tried to move the cursor to the actual list it seemed to think the cursor was like, "on" the header container "under" the dropdown...? pls halp! */
  z-index: 2;
}

.bloglist li {
  position: relative;
  display: block;
  margin-right: 80px;
}

li {
  display: inline;
}
