date: 2013-11-05


<h1>Seattle.rb - Nov. 5th</h1>

<p>Last night at Seattle.rb I met some guys from code fellows, about four different men (none who did lightning talks). I also met Joseph from Simply Measured who gave a lightning talk. We chatted with a few other dudes in the bar after the meetup and met a C++ developer who does a game with an OOL inside of it who just happened to be sitting at the bar near us.</p>

<p>I thought the asyncronous tasks with Fibers presentation was pretty interesting, although most of it went right over my head. I also liked the presentation about Rails security, which was funny, but also I thought that it was interesting to hear that Ruby thought it was a bug, not a security risk but Rails had to deal with it as a security risk. I'd like to learn more about the relationship there.</p>

<p>I didn't really find the presentation on the Horse DB very interesting. That is probably due to the fact that the subject material wasn't my thing, but also the presentation was a little hard to follow from a public speaking perspective.</p>

<p>We went to the bar after, and that was interesting but we were confronted with all the men's feelings about feminism and tech and that was a bit hard to handle. Sometimes I don't want to be a mouthpiece for feminism and women and Ada, I just want to be viewed as an Actual Human Being. I also kept getting asked what I'd like to do in the future and I found that question hard to answer since I am not sure of all the possibilities that lay ahead of us other than web developer.</p>