 date: 2014-01-05

<h2> week 8</h2>

<p>
The first two months of classes are finally over! Hooray!
</p>
<p>
The two week winter break is definitely very needed. I feel like my brain is too tired and exhausted to be able to imput any more information. I guess they say that the brain functions like a muscle and that rest is needed, so perhaps that can be my justification to relax a bit! The last two weeks, in which we did our first 4 person project, was extremely draining and emotionally exhausting. I felt like I was coding at 50% of my capabilities because I had to dedicate other efforts to interpersonal relationships. Our group had conflicts and personal crises, so not only were we making up work lost due to illness, but also due to the inability to work together very well. I feel like I got a lot of practice in on one of my key qualities that I am trying to nurture- patience. I am not a very patient person. During this group work, I did pair programming with someone who is slower than me in coding and in teamwork. This proved extremely challenging for me, but I think I did well at maintaining a positive attitude. While I had my own inner monologue that wasn't always very nice, and probably pushed myself way too hard out of frustration on my bike commute home, the pratice I got in learning to deal with people who are less inclined to teamwork was good for me. The downside was that it was exhausting! 
</p>
<p>To that end, after two months of being a programming student I am feeling anxious to jump into an apprenticeship. I didn't realize how much I would miss my old male-dominated work place, working one-on-one with a QA & automation manager to code tests, or how much I would miss the 9-6 office hours. It's really hard to go back to being a student! I had forgotten (or blocked out) how much I truly loathe homework. It's not at painful to work from home or stay late in the office, but man, homework just elicits all my avoidance techniques that I've perfected over the years.
</p>
<p>While part of me is dreading another repeat of the experience I had with the project before break, another part of me knows that the only way to get over that feeling is to work with even more people. As I was recounting the two weeks to my brother (read: complaining), he taught me a great phrase that they use in his group at Boeing: "emotional resilience". Hopefully as Ada goes on, everyone will develop more emotional resilience in the face of these stressful learning situations. Maybe just having a name to the characteristic will help everyone, myself included, develop those healthy traits as we code.
	</p>

	<h5><a href="/blog"> back </a></h5>

