 date: 2014-01-27

<h2> week 11</h2>

<p>
Week eleven of Ada brought our second group project- a feed aggregator. I was a little nervous to start my second group project, since the first one felt like it was 50% managing interpersonal conflicts, 30% fixing code and merge conflicts and only 20% writing my own code. I felt very weary about starting another group project, but luckily I feel like our project team members were well coordinated.  This time around I am working with people who seem excited to work on a group project, which in itself is quite reassuring.</p>
<p>
Other exciting news is that we got assigned our first mentor this week! We are doing three rounds of mentors, each about 4 weeks long. My first mentor is Aki Namioka, the Voice Search manager at Marchex. I was very excited to meet her, not only because Marchex was one of the companies I listed on my preferences for mentors, but also because Aki was one of the most memorable interviewers during our "speed interviewing" session we had with all internship sponsors. It's hard to not be excited about a company that seems so invested in and enthused by Ada. Aki and I met for coffee on Thursday and got to know one another as she told me a bit about her career and I asked her for some preliminary advice on how to figure out what sort of role I might be interested in once I leave Ada. I look forward to meeting with her again, as well as our class trip to the Marchex office next week!
</p>
<p>
This week we had little meetings with our "Product Owner" and simulated miniature sprints with user stories for this project. To be honest, because I have already worked in an environment that had exposed me to these concepts and roles, it felt a little campy to have it simulated, but in a fun-campy sort of way. I really like planning out the project and the structure of the app that we are making. I find that the challenges of planning out all the different pieces to be really engaging. I'd like to get better at conceptualizing DBs and figuring out all the different ways those can be used. Despite having experience with DBs and how to access data and how to figure out which tables are related, I haven't had much of a chance to learn about the actual theory behind them. We are implementing single table inheritance in this project, and I'd like to know what else I can do with databases. Unfortunately, because of my previous experience of messy databases, I have a little bit of an aversion to actually dealing with them.
</p>
  <h5><a href="/blog"> back </a></h5>

