date: 2014-01-20

<h2> week ten: javascript </h2>

<p><img class="blogimage" src="/pics/week10comic.jpg" alt="five-panel drawing about week ten of ada" width="700px" height="2109px"></p>

<h5><a href="/blog"> back </a></h5>