date: 2013-12-01

<h2> week 5 blog</h2>

<p>Hooray for short weeks! Because of Thanksgiving, we only attended class for three days. Those days were spent learning and praticing html and css. Since I have already been exposed to both from tinkering around in the past, I found the week to be pretty relaxed and fun.</p>

<p>My first day of html and css had me sidetracked on getting my sinatra app to actually work. This meant that I had to figure out how to run my database off Heroku, which did not seem to like my use of of sequel gem. Luckily I had a lot of help from our TAs, Andrew and Devon, from Foundry Interactive. Devon helped me sort out my header problems in CSS, while Andrew taught me how to set up my environment to run locally or remotely on Heroku without me having to change my design. He also taught me how to reset my database and relaunch it for Heroku. This is not the most easy to use solution, but given the tools I have now, it seems to work. </p>

<p>I spent my time creating a quite stupid looking website, with a tiled space background and a cursor image that leaves a trail of dumb sparkles behind it. Because I already have a personal website with a lot of content, I decided that figuring out the structure and design for an updated personal page would take up too much of my time, so I spent that time learning fun things in html and css. I knew that if I tried to make a “professional” personal promo website, I would end up getting too emotionally invested in the design instead of focusing on the learning behind it. This strategy worked out well, because I had a lot of fun.  </p> 

<p>On Wednesday we had a class Thanksgiving potluck, which was a nice way to end the week. We pushed tables together and all chatted and laughed and ate until we were too full to code effectively. It was delicious. </p>

<h5><a href="/blog"> back </a></h5>