date: 2013-11-19


<h2> xcon big data conference</h2>

<p><img class="blogimage" src="/pics/xcon3.jpg" alt="single-panel drawing about xcon big data" width="500px" height="615px"></p>

<h5><a href="/blog"> back </a></h5>